.aiSearch{
    background-color: #F5F5F5;
}
/* SearchBar */
.aiSearch_SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 5rem;
  background-color: #EAE1FE;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
  position: fixed;
  bottom:0;
    left:0;
}
.aiSearch_searchField {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: #333;
    outline: none;
    display: flex;
    align-items: center;
    /* background-color: blueviolet; */
}
.aiSearch_tags {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 100%;
  margin-left: 3rem;
  color:grey;
}
.aiSearch_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.aiSearch_searchField_input {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    margin: 1.5rem;
    margin-top: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    background-color: #fff;
    border-radius: 24px;
}

.chatCanvas_message_sender , .chatCanvas_message_bot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.chatCanvas_message_sender{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.chatCanvas_message_sender_text , .chatCanvas_message_bot_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    background-color: #6E49BD;
    color:#fff;
    width: 40%;
    height: fit-content;
    min-height: 50px;
    padding: 1rem;
    border-radius: 24px;
    position: relative;
    top:0;
    right: 0;

}
.chatCanvas_message_sender_text p,.chatCanvas_message_bot_text p{
    margin-left: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    
}
.chatCanvas_message_sender img,.chatCanvas_message_bot img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;

}
.chatCanvas_message_bot_text{
    /* display: flex;
    justify-content: flex-start;
    margin-top: 1rem; */
    background-color: #CED2D8;
    color:#333;
    /* width: 40%; */
    /* min-height: fit-content;
    min-height: 50px;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 24px; */
}

/* Chat Canvas */
.chatCanvas{
    min-height: 80vh;
    width: 100%;
    /* padding: 0 6rem; */
    position: relative;
    margin-bottom: 10rem;
}
.chatCanvas_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}
.chatCanvas_chatContainer{
    padding: 2rem 8rem;
    /* padding-right: 2rem; */
    /* background-color: red; */
}

/* CandidateCard */
.chatCanvas_message_candidate{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #fff;
    width: 80%;
    min-height:30rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin :2rem;
}
.candidateCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}
.chatCanvas_message_candidate_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100rem;
    /* margin-bottom: 1rem; */
    /* gap:2rem;
    color: #000;
    font-weight: 500;
    font-weight:bold;
    font-size: 1.6rem;
    background-color: red; */
}
.chatCanvas_message_candidate_topLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap:2rem;
    color: #000;
    font-weight: 500;
    font-weight:bold;
    font-size: 1.6rem;
    
}
.chatCanvas_message_candidate_image img{
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    background-color: #fff;
    object-fit:cover;
}
.hireIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6E49BD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* Media query */
@media screen and (max-width: 768px) {
    .aiSearch_SearchBar {
        padding: 0 2rem;
    }
    .aiSearch_searchField {
        padding: 0 1rem;
    }
    .aiSearch_tags {
        padding: 0.5rem 1rem;
    }
    .aiSearch_tag {
        padding: 0.5rem 0.5rem;
        margin: 0.5rem;
    }
    .aiSearch_searchField_input {
        padding: 1rem 1rem;
        margin: 1.5rem;
    }
    .chatCanvas {
        padding: 0 2rem;
        margin-bottom: 1rem;
        position: relative;
        top: 0;
        left: 0;
    }
    .aiSearch_SearchBar {
        /* padding: 0 1rem; */
        position: relative;
    }
    .chatCanvas_hero{
        display: none;
    }
}