.aiSearch{
    background-color: #F5F5F5;
}
/* SearchBar */
.aiSearch_searchbar {
    display: flex; 
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 0 5rem;
    padding-top: 1rem;
    background-color: #EAE1FE;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom:0;
    left:0;
}
.aiSearch_searchField {
    width: 100%;
    padding: 0 2rem;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: #333;
    outline: none;
    display: flex;
    align-items: center;
}
.aiSearch_tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 2rem;
    width: 100%;
    height: 4rem;
    margin-left: 3rem;
    color:grey;
}
.aiSearch_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.aiSearch_searchField_input {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1.5rem;
    margin-top: 0.5rem;
    border: none;
    font-size: 16px;
    color: #333;
    outline: none;
    border-radius: 24px;
}
.chatCanvas_message_sender , .chatCanvas_message_bot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.chatCanvas_message_sender{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.chatCanvas_message_sender_text , .chatCanvas_message_bot_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 1rem; */
    background-color: #6E49BD;
    color:#fff;
    width: 40%;
    /* min-width: fit-content; */
    height: fit-content;
    min-height: 50px;
    padding: 1rem;
    padding-left:0.5rem ;
    padding-right: 2rem;
    border-radius: 24px;
}
.chatCanvas_message_sender_text p,.chatCanvas_message_bot_text p{
    max-width: 70%;
    margin-left: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
}
.chatCanvas_message_sender img,.chatCanvas_message_bot img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}
.chatCanvas_message_bot_text{
    background-color: #CED2D8;
    color:#333;
    max-width:100%;
}

/* Chat Canvas */
.chatCanvas{
    margin-bottom: 10rem;
}
.chatCanvas_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}
.chatHeader{
    padding: 1rem 2rem;
    color: White;
    width: 100%;
    margin-top: 26rem;
    margin-left: -48rem;
    z-index: 99;
    position: relative;
    left:-100px;
}
.chatHeader h2{
    width: 40rem;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.chatHeader p{
    width: 40rem;
    line-height: 3rem;
}
.chatCanvas_chatContainer{
    padding-bottom: 2.5rem;
    padding-top: 6rem;
    min-width: 70vw;
}

/* CandidateCard */
.chatCanvas_message_candidate{
    margin-top: 1rem;
    background-color: #fff;
    width: 80%;
    min-height:20rem;
    height: fit-content;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.candidateCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}
.chatCanvas_message_candidate_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.chatCanvas_message_candidate_topLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap:2rem;
    color: #000;
    font-weight:bold;
    font-size: 1.6rem;
}
.chatCanvas_message_candidate_image img{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: #fff;
    object-fit:cover;
}
.chatCanvas_message_candidate_topRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.chatCanvas_message_candidate_middle{
line-height: 3rem;
font-size: 1.4rem;
color:#333;
flex-wrap: wrap;
}
.chatCanvas_message_candidate_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem ;
    flex-wrap: wrap;
}
/* profile Card */
.profileCard{
    margin-top: 2rem;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
}
.profileCard p{
    font-size: 1.4rem;
    color: #333;
}
.profileCard_availability{
    display: flex;
    justify-content: space-between;
}
.chatCanvas_message_profile_video-container{
    margin-top: 1rem;
}
.chatCanvas_message_profile_video-container video{
    margin: 1rem auto ;
    display: flex;
    width: 75%;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile_bottom{
margin: 1rem 0;
}
.profile_work-experience{

}
.profile_workExp{
display: flex;
align-items: center;
align-items: flex-start;
justify-content: flex-start;
}
.profile_header{
    display: flex;
    justify-content: space-between;
}
.profile_education_summary{
    display: flex;
    gap:1rem;
    width: 100%;
}
.profile_education_timeline{

    min-width: 10rem;
    min-width: fit-content;
    height: fit-content;
    
}
.profile_education_description{
    width: 85%;
    line-height: 2rem;
    margin: 1rem 0;
    color:#333;

}
.profile_award{
    line-height: 3rem;
    padding: 0 1rem ;
    color: #333;

}

/* Extra */
.max-w-60{
        width: fit-content;
    max-width: 60rem;
    
}
.hireIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6E49BD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* Media query */
@media screen and (max-width: 768px) {
    .aiSearch_searchbar {
        padding: 0 2rem;
        position: fixed;
        bottom: 0;
    }
    .aiSearch_searchField {
        padding: 0 1rem;
    }
    .aiSearch_tags {
        padding: 0.5rem 1rem;
        width: 100vw;
        overflow: hidden;
        height: 10rem;
        /* margin-bottom: -5rem; */
    }
    .aiSearch_tag {
        padding: 0.5rem 0.5rem;
        margin: 0.5rem;
    }
    .aiSearch_searchField_input {
        padding: 1rem;
    }
    .chatCanvas {
        margin-bottom: 18rem;
        margin-top: 13rem;
        min-width: 100vw;
    }
    .chatCanvas_hero{
        display: none;
    }
    .msg-loader{
        bottom:19rem;
        left:10rem;
    }
    .chatCanvas_message_bot_text{
        width: 70%;
        padding-left: 0;
    }
    .chatCanvas_message_bot_text p{
        max-width: 100%;
    }
    .chatCanvas_message_bot{
        gap: 0.5rem;
        margin-left: 1.5rem;
    }
    .chatCanvas_message_sender{
        gap: 0.5rem;
        margin-right: 1.5rem;
    }
    .chatCanvas_message_sender_text{
        min-width: fit-content;
    }
    .chatCanvas_message_sender_text p{
        max-width: 100%;
    }
    .chatCanvas_message_candidate_topLeft{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .chatCanvas_message_candidate_topRight{
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 0.5rem;
        /* background-color: red; */
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        /* color:red */
    }
    .btn-hire{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.7rem;
        height: 0rem;

    }
    .chatCanvas_message_candidate_topRight img{
        display: none;
    }
    .chatCanvas_message_candidate_info{
        flex-wrap: wrap;
        /* gap: 0.5rem; */
    }
    .profileCard_availability{
        flex-direction: column;
    }
    .chatCanvas_message_profile_video-container video{
        width: 100%;
    }
    .profile_header{
        flex-direction: column;
        gap: 0.5rem;
    }
    .profile_education_description{
        width: 100%;
    }
    .chatCanvas_chatContainer{
        padding-bottom: 1rem;
        padding-top: 1rem;
        min-width: 70vw;
    }
}